body
{
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6
{
    font-family: 'Fjalla One', sans-serif;
}

h1
{
    font-size: 40px;
    line-height: 1.5em;
    letter-spacing: -.2px;
    color: #fff;
    margin: 0;
}

h1 strong
{
    color: #026fff;
}

.header
{
    background-color: #1d252c;
    color: #fff;
    display: flex;
    height: 70px;
    align-items: center;
    justify-content: space-between;

}

.menu
{
    height: inherit;
}


.header ul 
{
    display: flex;
    height: inherit;
    align-items:center;
}

.header ul li 
{
    height: inherit;
    /* display: flex;
    align-items: center; */
}

.header a 
{
    color: #fff;
    text-decoration: none;
    height: inherit;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

ol,
ul
{
    margin: 0;
    padding: 0; 
    list-style: none;
}

figure
{
    margin: 0;
}

.hero
{
    height: 300px;
    /* background-image: url('../img/hero.jpg'); */
    background-color: #1b2127;
    /* background-size: 500px 300px; W -H */
    /* background-repeat: no-repeat; */
    /* background-position-x: right; mueve el fondo en el eje X totalmente a la derecha */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-image
{
    object-fit: cover;
}

.portfolio
{
    background-color: #fafafa;
    padding: 20px;
}

h2
{
    color: #026fff;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bolder;
    font-size: 24px;
    margin-bottom: 40px;
}

.project
{
    border: 1px solid gray;
    border-radius: 10px;
    padding: 20px;
    /* margin: 10px; */
    margin-bottom: 15px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.project-title
{
    font-size: 32px;
    margin-top: 0;
    margin-bottom: 10px;
}

.project-course,
.project-date,
.project-url
{
    margin: 10px 0;
}

.project strong
{
    font-family: 'Fjalla One', sans-serif;
}

.project-description
{
    font-size: 20px;
}

.project-details
{
    width: 500px;
}

.project-imageContainer
{
    width: 500px;
}

.event-list-title
{
    margin-left: 10px;
}

.event-list 
{
    display:flex;
    flex-wrap: wrap;
}

.event
{
    margin: 10px;
    width: 480px;
    border-radius: 10px;
    overflow: hidden;
    flex-shrink: 0;
    background-color: #f4fbff;
}

.event img
{
    width: 480px;
    height: 200px;
    object-fit: cover;
}

.event-detail
{
    margin:20px 40px;
    margin-top: -40px;
    background-color: #fff;
    position: relative;
    padding: 20px;
    text-align: center;
}

.event-description
{
    text-align: left;
}

.event-url
{
    color: #026fff;
    border: 1px solid;
    border-radius: 5px;
    padding: 5px 20px;
    text-decoration: none;
}

.contact
{
    background-color: #026fff;
    color: #fff;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.social-link
{
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0 10px;
    background-size: 50px 50px;
}

.social-link.twitter
{
    background-image: url('../img/twitter.svg');
    
}

.social-link.facebook
{
    background-image: url('../img/facebook.svg');
}

.social-link.github
{
    background-image: url('../img/github.svg');
}

.social-link.instagram
{
    background-image: url('../img/instagram.svg');
}

.form-email input
{
    border-color: gray;
    border-radius: 5px;
    border-style: solid;
    padding: 10px 20px 10px 25px;
    background-image: url('../img/envelope.svg');
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 5px;
}

.form-email button
{
    display: block;
    background: transparent;
    color: #fff;
    padding: 10px 0;
    border-radius: 5px;
    width: 100px;
    margin-top: 10px;
}

.form-email h3
{
    font-family: 'Source Sans Pro', sans-serif;
}

.centro
{
    width: 1000px;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    flex-wrap: inherit;
    height: inherit;
}

.footer
{
    background-color: #1d252c;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer img
{
    vertical-align: middle;
}

.footer a 
{
    color: #fff;
}
