@media(max-width: 768px){
    /*----  Header  -----------------------------------------------------------*/
    nav{
        display: none;
    }
    /*----  Hero  -----------------------------------------------------------*/
    .hero {
        height: 100%;
        flex-direction: column;
        padding: 3%;
    }
    
    .hero h1 {
        margin: 2% auto;
        font-size: 30px;
        width: 98%;
      }
      
    .hero figure
      {
        width: 100%;
      }

    .hero-img{
        width: 100%;
        clip-path: polygon(0% 0, 100% 0, 100% 100%, 0% 100%);
      }
    /*----  Portfolio  -----------------------------------------------------------*/
    article{
        flex-direction: column;
        width: 90%;
    }

    article .project{
        width: 100%;
    }
    
    .project-details {
        width: 100%;
      }

    .project-description {
        font-size: 18px;
      }
      
    .project-imageContainer {
        width: 100%;
      }

    .project-img{
        width: 100%;
      }
    
    /*----  Experience  -----------------------------------------------------------*/
    .jobs{
        width:98%;
      }
    .jobs img{
      width: 100%;
    }
    
    .jobs-details{
      width: 80%;
      margin: -75px 20px 30px;
    }

    /*----  Skills  -----------------------------------------------------------*/
    .leo-skills-left,
    .leo-skills-right
    {
        width: 20%;
    }

    .leo-skills-left div span,
    .leo-skills-right div span{
        margin: 1%;
        font-size: 10px;
        padding: 5px 10px;
        text-align: center;
        
    }

    .leo-skills figure
    {
        width: 55%;
    }

    .row
    {
        flex-direction: column;
    }

    .leo-img
    {
        height: 100%;
        width: 100%;
    }
    
    /*----  Contact  -----------------------------------------------------------*/
    
    .contact{
        flex-direction: column;
    }

    .contact-left{
        width: 100%;
    }

    .contact-right{
      width: 70%;
      padding: 0% 15%;
    }

    .contact-title{
        border-left-width: 20px;
    }

    .contact form
    {    
      margin-left: 15%;
    }

    .contact input{
        margin-top: 4%;
        margin-right: 10%;
    }

    .contact-links {
      width: 30px;
      height: 30px;
      background-size: 30px 30px;
      margin-bottom: 4% ;
      }
    
    /*----  Footer  -----------------------------------------------------------*/

    footer{
      flex-direction: row;
      align-items: flex-end;
    }
}